body{
    background-color: rgb(246, 187, 241);
}

header{
    flex: 1 100%;
    background-color: #7bbde6;
    padding: 1px;
    text-align: center;
    color: whitesmoke;
    font-size: 1.5em;
}
nav{
    display: flex;
    padding: 10px;
    flex: 1 100%;
    background-color: #8bc67b;
    margin: 5px 0px;
    font-size: 1.5em;
}

.menu{
    color: whitesmoke;
    
}

div{
    font-size: 1em;
    margin: 0px 15px;
}

div:nth-child(2) {
    margin-left: 30px;
}

div:nth-child(3) {
    margin-left: 30px;
}

#myPhoto {
    grid-area: main1;
    background-color: #f2dea0;
}

.picMe{
    width: 450px;
    height: 600px;
    border-radius: 10%;
    border: 10px solid #e1ae5b;
    margin: 20px;
}

#info {
    grid-area: main2;
    background-color: #7a91df;
}

h2{
    font-size: 1.8em;
    text-align: center;
    margin: 15px 0px;
    color: whitesmoke;
}

#contact{
    grid-area: main3;
    font-size: 1em;
    background-color: #c6b6ef;
}

p{
    font-size: 1.2em;
    padding: 0px 20px;
}

footer{
    grid-area: footer;
    line-height: 50px;
    background-color: rgb(233, 127, 233);
    text-align: center;
    flex: 1 100%;
    color: whitesmoke;
}

article{
    display: grid;
    background-color: #F3E9DD;
    gap: 15px;
    margin: 0px 0px;
    grid-template-areas:
    'main1 main2 main3'
    'footer footer footer';
}